:root {
    --c-light1: #ececec;
    --c-dark1: #101218;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  color: var(--c-light1);
  background-color: var(--c-dark1);
}

.website .votes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.website .icon-thumb-up > svg,
.website .icon-thumb-down > svg {
    width: 100px;
    height: 100px;
}

.icon-thumb-up > svg {
    fill: green;
}

.icon-thumb-down > svg {
    fill: red;
}

.website {
    display: flex;
    flex-direction: column;
}

.website .title {
    text-align: center;
    font-weight: 600;
    font-size: 96px;
    padding: 16px;
    min-width: 75%;

    border-top: 4px solid var(--c-light1);
    border-bottom: 4px solid var(--c-light1);
}