:root {
    --c-light1: #ececec;
    --c-dark1: #101218;
    --c-dark2: #1f2128;
    --c-dark3: #4d5160;
    --c-dark4: #3f4454;
    --c-blue1: #8ab4f8;
    
    --fsize-1: 32px;
    --fsize-2: 16px;

    --margin1: 1rem;

    font-size: 16px;

    --bradius-1: 0.25rem;
    color: var(--c-light1);
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: var(--c-light1);
    background-color: var(--c-dark1);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

textarea, input, button, select, search, a {
    font-size: inherit;
    font-family: inherit;
    color: var(--c-light1);
}


.main-content {
    max-width: 1200px;
    margin: 0 auto;
}
/* header */

/* footer */
footer {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

a {
    color: var(--c-blue1);
}

/* pagination */
.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 1rem 0;
}

.btn-pagination {
    margin: 0.25rem;
    border: 1px solid var(--c-dark3);
    font-weight: 500;
    background-color: var(--c-dark1);
    color: var(--c-light1);
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
}

.btn-pagination.current {
    outline: 2px solid var(--c-light1);
}

/* btn */

.btn {
    display: flex;
    align-items: center;
    border: 2px solid var(--c-dark2);
    background-color: var(--c-dark4);
    color: var(--c-light1);
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.25rem 1rem;
    cursor: pointer;
}

.btn .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

/* form */
form {
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
}

form .row {
    display: flex;
    flex: 1 0 1px;
    margin: 0.25rem 0;
}

form .buttons {
    justify-content: flex-end;
}

form .row.input > textarea,
form .row.input > input {
    flex: 1 0 1px;
}

/* textarea */
textarea {
    background-color: var(--c-dark4);
    border-radius: var(--bradius-1);
    resize: none;
    color: white;
    /*width: 100%;*/
}

/* website */

.website .votes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.website .vote-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.website .vote-btn .voted {
    outline: 2px solid var(--c-light1);
}

.website .vote-btn button {
    background-color: transparent;
    border: 1px solid var(--c-dark3);
    border-radius: var(--bradius-1);
    padding: var(--margin1);
    cursor: pointer;
}

.website .vote-count {
    margin-top: 0.5rem;
    text-align: center;
    font-weight: 800;
    font-size: var(--fsize-1);
}

.website .comments {
    margin: 0 auto;
}

.website .title-comments {
    font-size: var(--fsize-1);
    border-top: 1px solid var(--c-light1);
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem;
}

.website .icon-thumb-up > svg,
.website .icon-thumb-down > svg {
    width: 100px;
    height: 100px;
}

.icon-thumb-up > svg {
    fill: green;
}

.icon-thumb-down > svg {
    fill: red;
}

.website {
    /*display: flex;
    flex-direction: column;*/
}

.website .title {
    text-align: center;
    font-weight: 600;
    font-size: 96px;
    padding: 2rem;
    border-top: 2px solid var(--c-light1);
    border-bottom: 2px solid var(--c-light1);
    margin: 0rem 0 2rem 0;
}

.website .comments-list {
    margin: 0 auto;
    padding: var(--margin1);
    max-width: 728px;
}

.website .comment {
    border: 1px solid var(--c-dark3);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: var(--margin1) 0;
}

.website .comment-top {
    border-bottom: 1px solid var(--c-dark3);
    padding: 0.25rem;
}

.website .comment-content {
    /*padding: 0.25rem;*/
}

/* home */

.home .title {
    font-size: 96px;
    text-align: center;
}

.home .search {
    /*max-width: 784px;*/
    width: 100%;
    height: 6rem;
    font-size: 4rem;
    padding: 1rem;
    background-color: transparent;
    border: 1px solid var(--c-dark3);
    border-radius: var(--bradius-1);
}

.home .btn-search .icon > svg {
    width: 4rem;
    height: 4rem;
    fill: var(--c-light1);
}

.home .btn-search { 
    background-color: var(--c-dark4);
    border: 1px solid var(--c-dark3);
    cursor: pointer;
}

.home hr {
    margin: 2rem;
    max-width: 784px;
    border: 2px solid var(--c-dark3);
}

.home .links {
    max-width: 784px;
    margin: 0 auto;
}

.home .links svg {
    width: 1.5rem;
    height: 1.5rem;
}

.home .links > div {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1 0 1px;
}

.home .links a {
    border-radius: var(--bradius-1);
    font-weight: 500;
    font-size: 1.25rem;
    padding: 1rem;
    margin: 0.5rem 2rem;
    border: 1px solid var(--c-dark4);
    text-decoration: none;
    color: var(--c-light1);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

